--no-cache
--no-output
--verbose
--markup markdown
--markup-provider redcarpet
--readme README.markdown
lib/**/*.rb
-
History.markdown
docs/Tutorial.markdown
docs/Contributors.markdown
docs/Resources.markdown
docs/Manual.markdown
docs/manual/BuildingYourApp.markdown
docs/manual/ExampleApplications.markdown
docs/manual/Mappings.markdown
docs/manual/Troubleshooting.markdown
docs/manual/YourFirstApp.markdown
docs/manual/Reference.markdown
