--no-cache
--no-output
--verbose
--markup markdown
--markup-provider redcarpet
--readme README.markdown
lib/**/*.rb
-
History.markdown
docs/Tutorial.markdown
docs/Contributors.markdown
docs/Mappings.markdown
docs/Overview.markdown
docs/Resources.markdown
docs/Troubleshooting.markdown
